.about {
    @include section-padding-lg;

    &__inner {

        @include media {
            @include tablet-lg {
                align-items: flex-start;
            }

            @include tablet-lg {
                flex-direction: column;
            }
        }
    }

    &__media {
        position: relative;
        width: calc(40% - 60px);
        margin: 0 40px 0 20px;

        @include media {
            @include desktop {
                width: calc(45% - 50px);
                margin: 0 30px 0 20px;
            }

            @include laptop {
                width: calc(45% - 35px);
                margin: 0 20px 0 15px;
            }

            @include tablet-lg {
                @include box(400px, auto);
                margin: 0 auto 15px;
                padding: 30px 20px 25px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            left: calc(50% - 20px);
            top: calc(50% + 20px);
            z-index: 1;
            @include box(100%);
            background: $gradient-accent;
            border-radius: 15px;

            @include media {
                @include laptop {
                    left: calc(50% - 15px);
                    top: calc(50% + 15px);
                }

                @include tablet-lg {
                    left: 50%;
                    top: 50%;
                }
            }
        }

        &-title,
        &-img img,
        &-cta {
            position: relative;
            z-index: 2;
        }

        &-title {
            position: relative;
            display: none;
            margin: 0 0 20px;
            text-align: center;
            color: $color-white;

            @include media {
                @include tablet-lg {
                    display: block;
                }
            }
        }

        &-img {
            height: 100%;
            margin: 0 0 20px;

            @include media {
                @include laptop {
                    margin: 0 0 15px;
                }

                @include tablet-lg {
                    @include box(250px);
                    margin: 0 auto 15px;
                }
            }

            img {
                @include box(100%);
                object-fit: cover;
                object-position: center bottom;
                border-radius: 15px;
                
                @include media {
                    @include tablet-lg {
                        object-position: center center;
                        border-radius: 50%;
                    }
                }
            }
        }

        &-cta {
            width: 90%;

            @include media {
                @include tablet-lg {
                    margin: 0 auto;
                }
            }

            .btn {
                width: 100%;
                padding: 18px 30px;
                border-radius: 7px;
                background: $color-white;
                color: $color-black;
                font-weight: 600;
                box-shadow: inset 0 0 0 3px $color-black;

                &:hover,
                &:focus {
                    color: $color-white;
                    background: $color-black;
                }
            }
        }
    }

    &__content {
        width: 60%;

        @include media {
            @include desktop {
                width: 55%;
            }

            @include tablet-lg {
                width: 90%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    &__title {
        margin: 0 0 30px;

        @include media {
            @include desktop {
                margin: 0 0 20px;
            }

            @include laptop {
                margin: 0 0 15px;
            }

            @include tablet-lg {
                display: none;
            }
        }
    }

    &__text {
        margin: 0.75em 0;
        font-size: 22px;

        @include media {
            @include desktop {
                font-size: 20px;
            }

            @include laptop {
                font-size: 18px;
            }

            @include tablet-lg {
                margin: 0.5em 0;
                // font-size: 16px;
            }
        }

        a {
            color: $color-pink;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $color-purple;
            }
        }
    }

    .about__text {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__email-link {
        display: inline-block;
        margin: 0 0 0 5px;
        font-size: 20px;
        @include text-gradient($gradient-accent);
    }
}