.about {
    padding: 70px 0 90px;

    @include desktop-wide {
        padding: 80px 0;
    }

    @include desktop {
        padding: 70px 0;
    }

    @include laptop {
        padding: 60px 0;
    }

    @include tablet-lg {
        padding: 50px 0;
    }

    @include tablet-md {
        padding: 45px 0;
    }

    @include phone-lg {
        padding: 40px 0;
    }

    @include phone-md {
        padding: 35px 0 40px;
    }

    @include phone-sm {
        padding: 30px 0 35px;
    }

    &__title {
        margin: 0 0 30px;

        @include media {
            @include desktop {
                margin: 0 0 20px;
            }

            @include laptop {
                margin: 0 0 15px;
            }

            @include tablet-lg {
                display: none;
            }
        }
    }

    &__text {
        margin: 0.75em 0;
        font-size: 18px;

        @include media {
            @include desktop {
                font-size: 20px;
            }

            @include laptop {
                font-size: 18px;
            }

            @include tablet-lg {
                margin: 0.5em 0;
            }
        }

        a {
            color: $color-pink;
            font-weight: 600;

            &[target="_blank"]::after {
                content: '';
                display: inline-block;
                margin-left: 5px;
                @include svg-icon('9.svg', 15px, 15px);
            }

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .about__text {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__email-link {
        display: inline-block;
        margin: 0 0 0 5px;
        font-size: 20px;
        @include text-gradient($gradient-accent);
    }
}