.about {
    @include section-padding-lg();

    &__media {
        position: relative;
        width: calc(40% - 40px);
        margin: 0 40px 0 0;

        &::after {
            content: '';
            @include absolute-centering();
            left: calc(50% - 20px);
            top: calc(50% + 20px);
            z-index: 1;
            @include box(100%);
            background: $gradient-accent;
            border-radius: 15px;
        }

        &-img {
            height: 100%;
            margin: 0 0 20px;

            img {
                position: relative;
                z-index: 2;
                @include box(100%);
                object-fit: cover;
                object-position: center bottom;
                border-radius: 15px;
            }
        }

        &-cta {
            position: relative;
            z-index: 2;

            .btn {
                width: 90%;
                padding: 18px 30px;
                border-radius: 7px;
                background: $color-white;
                color: $color-black;
                font-weight: 600;
                box-shadow: inset 0 0 0 3px $color-black;

                &:hover,
                &:focus {
                    color: $color-white;
                    background: $color-black;
                }
            }
        }
    }

    &__content {
        width: 60%;
    }

    &__title {
        margin: 0 0 30px;
    }

    &__text {
        font-size: 22px;

        a {
            color: $color-pink;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $color-purple;
            }
        }

        @include desktop-ultra {
            font-size: 18px;
        }
    }

    .about__text {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__email-link {
        display: inline-block;
        margin: 0 0 0 5px;
        font-size: 20px;
        @include text-gradient($gradient-accent);
    }
}