.contacts {
    position: relative;
    @include section-padding-lg();
    color: $color-white;
    text-align: center;
    background: url(../images/contacts/bg.jpg) center center;
    background-size: cover;

    &::after {
        content: '';
        @include absolute-centering();
        @include box(100%);
        background: rgba($color-black, .5);
    }

    &__inner {
        position: relative;
        z-index: 2;
        max-width: 700px;
        margin: 0 auto;
    }

    &__title {
        margin: 0 0 15px;

        @include media {
            @include desktop {
                margin: 0 0 10px;
            }

            @include phablet {
                margin: 0 0 5px;
            }
        }
    }

    &__text {
        font-size: 20px;
        margin: 0 0 40px;

        @include media {
            @include desktop {
                margin: 0 0 35px;
        }

            @include tablet-lg {
                font-size: 18px;
            }

            @include phablet {
                max-width: 80%;
                margin: 0 auto 25px;
                font-size: 18px;
            }

            @include phone-lg {
                max-width: 90%;
                margin: 0 auto 25px;
                font-size: 16px;
            }
        }
    }

    &__btn-email {
        margin: 0 0 40px;

        @include media {
            @include desktop {
                margin: 0 0 35px;
            }

            @include phablet {
                margin: 0 0 25px;
            }
        }
    }

    &__subtitle {
        margin: 0 0 30px;

        @include media {
            @include desktop {
                margin: 0 0 25px;
            }

            @include phablet {
                margin: 0 0 20px;
            }
        }
    }

    &__social {
        &-elem {
            position: relative;
            top: 0;
            display: flex;
            @include flex-centering();
            @include box(50px);
            background: $color-white;
            border-radius: 5px;
            @include transition(top);

            &+.contacts__social-elem {
                margin-left: 10px;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -3px;
                left: -3px;
                @include box(100%);
                background: $gradient-accent;
                border-radius: 5px;
                @include transition();
            }

            svg {
                @include box(20px);
            }

            &:hover,
            &:focus {
                top: -3px;
            }

            &--telegram {
                svg {
                    color: darken(#32A9E1, 5%);
                }
            }

            &--whatsapp {
                svg {
                    color: darken(#50CA5E, 5%);
                }
            }
        }
    }

    &--fullscreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;

        .contacts__social {
            &-elem {
                @include box(75px);

                @include media {
                    @include phone-lg {
                        @include box(60px);
                    }
                }

                &+.contacts__social-elem {
                    margin-left: 15px;
                }

                &::before {
                    top: -5px;
                    left: -5px;
                }

                svg {
                    @include box(35px);

                    @include media {
                        @include phone-lg {
                            @include box(28px);
                        }
                    }
                }
            }
        }
    }
}