.footer {
    position: relative;
    padding: 40px 0;
    color: $color-white;
    background: $color-black;
    overflow: hidden;

    @include media {
        @include laptop {
            padding: 35px 0 40px;
        }
    }

    &::before {
        content: '';
        @include absolute-x-centering();
        top: 0;
        @include box(110%);
        box-shadow: inset 0 0 20px rgba($color-gray, .5);
        pointer-events: none;
    }

    &__inner {
        margin: 0 0 30px;

        @include media {
            @include desktop {
                margin: 0 0 25px;
                padding: 0 20px;
            }

            @include laptop {
                padding: 0 10px;
            }

            @include tablet-lg {
                flex-direction: column;
            }

            @include tablet-sm {
                margin: 0 0 20px;
            }
        }
    }

    &__credits {
        margin: 0;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;

        a {
            position: relative;
            top: -1px;
            color: $color-white;
            border-bottom: 1px solid $color-purple;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $color-white;
                border-bottom: 1px solid $color-white;
            }
        }
    }

    &__nav {
        @include list-reset;

        @include media {
            @include tablet-lg {
                margin: 20px 0 25px;
            }

            @include tablet-sm {
                margin: 15px 0 20px;
            }
        }

        &-li {
            margin: -10px 0;
        }

        &-link {
            display: block;
            padding: 10px 20px;
            color: $color-white;

            @include media {
                @include laptop {
                    padding: 10px 15px;
                    font-size: 14px;
                }
            }

            &:hover,
            &:focus {
                color: $color-white;
                text-decoration-color: $color-white;
            }

            &:focus {
                outline-offset: -5px;
            }
        }
    }

    &__created {
        width: 600px;
        max-width: 90%;
        margin: 0 auto;
        font-size: 14px;
        color: $color-gray;

        @include media {
            @include laptop {
                font-size: 12px;
            }
        }
    }
}