.header {
    position: relative;
    color: $color-white;
    background: $color-black;
    overflow: hidden;

    &__inner {
        height: 85px;

        @include desktop-wide {
            height: 80px;
        }

        @include desktop {
            height: 75px;
        }

        @include tablet-lg {
            height: 70px;
        }
    }

    &__logo {
        position: relative;
        display: flex;
        @include flex-centering;
        flex-shrink: 0;
        height: 50px;
        margin: 0 6.5% 0 0;
        padding: 2px 0 0 1px;
        padding: 0 15px;
        font-size: 18px;
        color: $color-white;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1;
        background: $gradient-accent-revert;

        @include media {
            @include tablet-lg {
                margin: 0;
            }
        }

        &:hover,
        &:focus {
            color: $color-white;
            text-decoration: none;
            box-shadow: inset 0 0 0 3px $color-white;
        }

        &:focus {
            outline: 0;
        }

        &:active {
            box-shadow: inset 0 0 0 6px $color-white;
        }
    }

    &__toggle {
        @include button-setup(17px 10px 0);
        display: none;
        flex-direction: column;
        @include box(50px);
        background: $gradient-accent;
        border-bottom-left-radius: 15px;

        @include media {
            @include tablet-lg {
                display: flex;
            }
        }

        &-decorator {
            width: 100%;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background: $color-white;
            }

            &::before {
                margin: 0 0 10px;
            }

            &::after {
                width: 60%;
                margin-left: auto;
            }
        }
    }

    &__nav {
        @include media {
            @include tablet-lg {
                display: none;
            }
        }

        &-list {
            @include list-reset();
        }

        &-li {
            display: flex;

            &+.header__nav-li {
                margin-left: 30px;
            }

            &--current {
                font-weight: 700;
            }
        }

        &-link {
            position: relative;
            display: flex;
            align-items: center;
            color: $color-white;
            font-size: 16px;

            &:hover,
            &:focus {
                text-decoration: underline;
                color: $color-white;

                &::before {
                    bottom: 0;
                    opacity: 1;
                }
            }

            &:focus {
                outline: 0;
            }
        }
    }

    &__lang {
        margin: 0 -10% 0 0;
        padding: 10px 15px;
        font-size: 14px;
        color: $color-white;
        background: $gradient-accent;

        &:hover,
        &:focus {
            color: $color-white;
            text-decoration: none;
            box-shadow: inset 0 0 0 3px $color-white;
        }

        &:focus {
            outline: 0;
        }

        &:active {
            box-shadow: inset 0 0 0 6px $color-white;
        }
    }

    &__socials {
        @include list-reset;
        margin-right: -10px;

        &-link {
            display: flex;
            @include flex-centering();
            @include box(100%);
            padding: 10px;
            color: $color-white;

            &:focus {
                outline-offset: -5px;
            }

            svg {
                @include box(25px);
            }
        }
    }
}