.hero {
    padding: 50px 0 80px;

    @include media {
        @include desktop {
            padding: 40px 0 70px;
        }

        @include laptop {
            padding: 35px 0 60px;
        }

        @include tablet-lg {
            padding: 30px 0 50px;
        }

        @include tablet-sm {
            padding: 25px 0 45px;
        }

        @include phablet {
            padding: 20px 0 40px;
        }

        @include phone-md {
            padding: 15px 0 30px;
        }
    }

    &__title {
        margin: 0 0 20px;

        @include media {
            @include desktop {
                margin: 0 0 15px;
            }

            @include tablet-md {
                br {
                    display: none;
                }
            }
        }
    }

    &__subtitle {
        margin: 0 0 40px;
        font-weight: 600;

        @include media {
            @include desktop {
                margin: 0 0 30px;
            }
        }
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
    }

    &__project {
        width: 100%;

        &--md {
            width: 50%;
        }

        &--sm {
            align-items: center;
            width: calc(100% / 3);
        }
    }

    &__projects .hero__project {
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:nth-child(4) {
            border-bottom-left-radius: 5px;
        }

        &:nth-child(6) {
            border-bottom-right-radius: 5px;
        }
    }

    &__more {
        padding: 50px 30px;
        color: $color-white;
        background: $gradient-accent;
        @include transition;

        &-title {
            margin: 0 25px 0 0;
            font-weight: 400;
        }

        &-icon {
            @include box(55px);
        }

        &:hover,
        &:focus {
            transform: scale(1.05);
            box-shadow: 0 5px 20px rgba($color-black, .2);
            text-decoration: none;
            border-radius: 2px;
            color: $color-white;
        }
    }
}