.hero {
    @include section-padding-md;

    &__title {
        margin: 0 0 20px;
    }

    &__subtitle {
        margin: 0 0 40px;
        font-weight: 600;

        svg {
            color: initial;
        }
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        overflow: hidden;
    }

    &__project {
        width: 100%;

        &--md {
            width: 50%;
        }

        &--sm {
            width: calc(100% / 3);
        }
    }
}