.hero {
    padding: 50px 0 80px;

    &__title {
        margin: 0 0 20px;
    }

    &__subtitle {
        margin: 0 0 40px;
        font-weight: 600;

        svg {
            color: initial;
        }
    }

    &__projects {
        display: flex;
        flex-wrap: wrap;
    }

    &__project {
        width: 100%;

        &--md {
            width: 50%;
        }

        &--sm {
            align-items: center;
            width: calc(100% / 3);
        }
    }

    &__projects .hero__project {
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:nth-child(4) {
            border-bottom-left-radius: 5px;
        }

        &:nth-child(6) {
            border-bottom-right-radius: 5px;
        }
    }

    &__more {
        padding: 50px 30px;
        color: $color-white;
        background: $gradient-accent;
        @include transition;

        &-title {
            margin: 0 25px 0 0;
            font-weight: 400;
        }

        &-icon {
            @include box(55px);
        }

        &:hover,
        &:focus {
            transform: scale(1.05);
            box-shadow: 0 5px 20px rgba($color-black, .2);
            text-decoration: none;
            border-radius: 2px;
            color: $color-white;
        }
    }
}