.hp-about {
    @include section-padding-lg();

    &__media {
        position: relative;
        width: calc(40% - 40px);
        max-height: 550px;
        margin: 0 40px 0 0;

        @include desktop-ultra {
            max-height: 500px;
        }

        &::after {
            content: '';
            @include absolute-centering();
            left: calc(50% - 20px);
            top: calc(50% + 20px);
            z-index: 1;
            @include box(100%);
            background: $gradient-accent;
            border-radius: 15px;
        }

        &-img {
            position: relative;
            z-index: 2;
            @include box(100%);
            object-fit: cover;
            border-radius: 15px;
        }
    }

    &__content {
        width: 55%;
    }

    &__title {
        margin: 0 0 30px;
    }

    &__text {
        font-size: 20px;

        @include desktop-ultra {
            font-size: 18px;
        }
    }

    .hp-about__text {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__email-link {
        display: inline-block;
        margin: 0 0 0 5px;
        font-size: 20px;
        @include text-gradient($gradient-accent);
        border-bottom: 2px solid $color-purple;
    }
}