.skills {
    @include section-padding-lg();

    &__title {
        margin: 0 0 40px;
    }

    &__items {
        @include list-reset;
        margin: -4px;
    }

    &__skill {
        flex: 1 0 auto;
        margin: 4px;
        padding: 10px 15px;
        text-align: center;
        border-radius: 3px;
        background: $gradient-accent;
        color: $color-white;
        font-weight: 600;
        font-size: 16px;
        cursor: default;

        &:hover,
        &:focus {
            transform: scale(1.1);
            box-shadow: 0 4px 15px rgba($color-accent, .2);
        }
    }
}