.cmn-header {
    position: relative;
    overflow: hidden;
    // border-bottom: 3px solid $color-purple;

  

    &__inner {
        height: 85px;
    }

    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $color-black;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1;

        &::before {
            content: '';
            @include absolute-centering();
            z-index: 1;
            @include box(110%, 100%);
            background: $color-light-gray;
            opacity: 0;
            @include transition();
        }

        span {
            position: relative;
            z-index: 2;
            @include text-gradient($gradient-accent-revert);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            outline: 0;

            span {
                @include text-gradient($gradient-accent);
            }

            &::before {
                opacity: 1;
            }
        }
    }

    &__nav {
        margin: 0 30px 0 auto;
        &-list {
            @include list-reset();
        }

        &-li {
            display: flex;

            &+li {
                // border-left: 1px solid $color-light-gray;
            }

            &--current {
                font-weight: 700;
            }
        }

        &-link {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 25px;
            color: $color-black;
            font-size: 16px;
            text-transform: lowercase;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -75%;
                @include box(100%, 100%);
                z-index: -1;
                background: $color-light-gray;
                // border-top: 2px solid $color-purple;
                opacity: 0;
                // @include transition();
            }

            &:hover,
            &:focus {
                text-decoration: none;
                @include text-gradient($gradient-accent);

                &::before {
                    bottom: 0;
                    opacity: 1;
                }
            }

            &:focus {
                outline: 0;
            }
        }
    }

    &__social {
        @include list-reset();
        padding: 0 10px;

        &-li {
            &+li {
                margin-left: 3px;
            }
        }

        &-link {
            display: flex;
            @include flex-centering();
            @include box(100%);
            padding: 0 15px;
            color: $color-black;
            @include transition(background);

            &:focus,
            &:hover {
                color: $color-white;
                background-image: $gradient-accent-revert;
            }

            svg {
                @include box(20px);
            }
        }
    }
}