.cmn-contacts {
    position: relative;
    @include section-padding-lg();
    color: $color-white;
    text-align: center;
    background: url(../images/cmn-contacts/bg.jpg) center center;
    background-size: cover;

    &::after {
        content: '';
        @include absolute-centering();
        @include box(100%);
        background: rgba($color-black, .5);
    }

    &__inner {
        position: relative;
        z-index: 2;
        max-width: 700px;
        margin: 0 auto;
    }

    &__title {
        margin: 0 0 15px;
    }

    &__text {
        font-size: 20px;
        margin: 0 0 40px;
    }

    &__btn-email {
        margin: 0 0 40px;
    }

    &__subtitle {
        margin: 0 0 30px;
    }

    &__social {
        &-elem {
            position: relative;
            display: flex;
            @include flex-centering();
            @include box(50px);
            background: $color-white;
            border-radius: 5px;

            &+.cmn-contacts__social-elem {
                margin-left: 10px;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -3px;
                left: -3px;
                @include box(100%);
                background: $gradient-accent;
                border-radius: 5px;
                @include transition();
            }

            svg {
                @include box(20px);
            }
        }
    }
}