.hp-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 85px);
    color: $color-white;
    background: url(../images/hp-hero/bg-4.jpg) center 60%;
    background-size: cover;
    overflow: hidden;

    &::before {
        content: '';
        @include absolute-centering();
        @include box(100%);
        background: rgba($color-black, .3);
    }

    &::after {
        content: '';
        @include absolute-x-centering();
        z-index: 3;
        top: 0;
        @include box(120%);
        box-shadow: inset 0 0 15px rgba($color-gray, 1);
        pointer-events: none;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &__title {
        margin: 0 0 35px;
        font-weight: 600;
        font-size: 92px;

        @include desktop-wide {
            font-size: 80px;
            margin: 0 0 20px;
        }

        @include desktop {
            font-size: 70px;
        }

        &-bigger {
            font-size: 140px;
            font-weight: bold;

            @include desktop-wide {
                font-size: 100px;
            }

            @include desktop {
                font-size: 100px;
            }
        }

        &-em {
            // font-weight: bold;
            @include text-gradient($gradient-accent);
            text-shadow: 4px 3px 0 $color-white;
        }

        &-last-name {
            position: relative;
            @include text-gradient($gradient-accent);

            // &::before {
            //     content: '';
            //     position: absolute;
            //     z-index: -1;
            //     top: 10px;
            //     left: 0px;
            //     @include box(90px);
            //     border-radius: 50%;
            //     background: $color-white;
            // }

            // &::after {
            //     content: '';
            //     position: absolute;
            //     z-index: -1;
            //     top: 10px;
            //     left: 100px;
            //     padding: 0;
            //     @include box(80%, 80%);
            //     background: $color-white;
            // }
        }
    }

    &__text {
        margin: 0 0 80px;
        font-size: 34px;
        font-weight: 300;

        @include desktop-wide {
            margin: 0 0 60px;
            font-size: 30px;
        }

        @include desktop {
            margin: 0 0 50px;
            font-size: 32px;
        }
    }

    &__actions {
        &-contact {
            margin: 0 20px 0 0;
        }
    }
}