.hp-portfolio {
    @include section-padding-md();

    &__title {
        margin: 0 0 20px;
    }

    &__subtitle {
        margin: 0 0 50px;
        font-size: 20px;
    }

    &__inner {

    }

    &__project {
        &+.hp-portfolio__project {
            margin-top: 20px;
        }
    }
}