// Path

$img-dir-path: '../images/';


// Fonts

$font-family: ('Montserrat', 'Arial', 'Helvetica', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
$line-height-base: 1.7;
$line-height-sm: 1.2;

$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-bold: bold;
$font-weight-heavy: 800;

$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;


// Colors

$color-accent: #000;
$color-pink: #C6426E;
$color-purple: #642B73;
$color-white: #fff;
$color-black: #000000;
$color-gray: #666666;
$color-red: #da2c2c;


// Gradients

$gradient-accent: linear-gradient(to right, $color-pink, $color-purple);
$gradient-accent-revert: linear-gradient(to left, $color-pink, $color-purple);


// Links

$link-color: $color-accent;


// Animations

$transition-time: .25s;
$transition-effect: ease-out;


// Layout

$container-padding: 15px;


// Section paddings

$section-padding: 75px;
$section-padding-md: 50px;
$section-padding-sm: 40px;