.btn {
    @include button-defaults();
    padding: 15px 30px;
    color: $color-white;
    font-size: 16px;
    background: $color-black;
    border-radius: 3px;
    font-weight: 400;
    letter-spacing: 0.5px;
    box-shadow: 5px 5px 0 0px $color-white;

    &:hover,
    &:focus {
        color: $color-white;
        background: lighten($color-black, 10%);
    }

    &--gradient-reverse {
        &:hover,
        &:focus {
            background-image: $gradient-accent-revert;
        }
    }

    &--bordered {
        border: 4px solid $color-white;

        @include laptop {
            border-width: 3px;
        }
    }

    &--sm {
        padding: 10px 20px;
        font-size: 16px;
    }

    &--lg {
        padding: 22px 50px;
        font-size: 18px;

        @include laptop {
            padding: 20px 40px;
        }

        @include tablet-lg {
            font-size: 16px;
        }
    }
}

.btn-email {
    @include button-defaults();
    // display: flex;
    align-items: center;
    padding: 25px 70px;
    font-weight: 500;
    border-radius: 5px;
    background: $color-white;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -5px;
        left: -5px;
        @include box(100%);
        background: $gradient-accent;
        border-radius: 5px;
        @include transition();
    }

    svg {
        @include box(25px);
        margin: 0 0 0 10px;
        color: $color-black;
    }

    &:hover,
    &:focus {
        color: $color-black;

        &::before {
            top: 5px;
        }
    }
}