.btn {
    @include button-setup(15px 50px);
    font-weight: 500;
    font-size: 18px;
    color: $color-accent;
    background: $color-white;
    transition: opacity $transition-time;
    border: 2px solid $color-white;
    border-radius: 2px;

    &:hover,
    &:focus {
        background: $gradient-accent-revert;
        color: $color-white;
    }
}

.btn-email {
    @include button-setup(25px 70px);
    align-items: center;
    padding: 25px 70px;
    font-weight: 500;
    border: 5px solid $color-pink;
    border-radius: 5px;
    background: $color-white;

    @include media {
        @include phone-lg {
            padding: 20px 50px;
        }

        @include phone-md {
            padding: 18px 40px;
        }

        @include phone-sm {
            padding: 15px 30px;
        }
    }


    svg {
        @include box(25px);
        margin: 0 0 0 10px;
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}