.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    @include media {
        @include tablet-lg {
            padding: 0 20px;
        }

        @include tablet-sm {
            padding: 0 15px;
        }

        @include phone-sm {
            padding: 0 10px;
        }
    }
}

.container-fluid {
    width: 1700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;

    @include desktop-ultra {
        padding: 0 25px;
    }

    @include desktop-wide {
        padding: 0 20px;
    }

    @include desktop {
        padding: 0 15px;
    }
}