.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    @include media {
        @include tablet-lg {
            padding: 0 20px;
        }

        @include tablet-sm {
            padding: 0 15px;
        }

        @include phone-sm {
            padding: 0 10px;
        }
    }

    &:not(.container--sm) {
        width: 1200px;
    }

    &--sm {
        width: 650px;
    }
}