.project {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: $color-white;
    background: $gradient-accent;
    padding: 50px 60px;
    overflow: hidden;
    @include transition-no-outline;

    @include media {
        @include desktop {
            padding: 45px 50px;
        }

        @include laptop {
            padding: 40px 35px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include box(100%);
        background: rgba($color-white, .075);
        opacity: 0;
        @include transition;
        pointer-events: none;
    }

    &--batum {
        background: linear-gradient(130deg, lighten(#322024, 25%) 15%, #322024 50%);
    }

    &--kkmir {
        background: linear-gradient(130deg, lighten(#48B22D, 35%) 15%, #48B22D 50%);
    }

    &--awatera {
        background: linear-gradient(130deg, #E1C5F8 15%, #697DDC 50%);
    }

    &--gkorientir {
        background: lighten(#f4f4f4, 2.5%);
    }

    &--ria-glas {
        background: #394352;
    }

    &--autosanit {
        background: linear-gradient(130deg, lighten(#EFF2F3, 25%) 15%, #EFF2F3 50%);
    }

    &__media {
        width: 50%;
        margin: 0 40px 0 0;

        @include media {
            @include desktop {
                margin: 0 30px 0 0;
            }

            @include laptop {
                margin: 0 20px 0 0;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding: 30px 0 0;

        @include media {
            @include desktop {
                padding: 10px;
            }
        }
    }

    &__link {
        margin: 0 0 20px;
        color: $color-white;
        font-size: 14px;

        @include media {
            @include desktop {
                margin: 0 0 25px;
            }

            @include laptop {
                margin: 0 0 15px;
            }
        }

        svg {
            @include box(17px);
            margin: 0 2px 0 0;
        }

        &-text {
            position: relative;
            bottom: -1px;
            border-bottom: 1px dashed transparent;
            @include transition;
        }

        &:hover,
        &:focus {
            color: $color-white;
            text-decoration: none;

            .project__link-text {
                bottom: 0;
                border-color: $color-white;
            }
        }
    }

    &__title {
        margin: 0 0 15px;

        @include media {
            @include desktop {
                margin: 0 0 15px;
            }

            @include laptop {
                margin: 0 0 10px;
            }
        }
    }

    &__about {
        margin: 0 0 20px;
        padding-right: 10%;
        font-size: 18px;

        @include media {
            @include desktop {
                padding-right: 5%;
                font-size: 18px;
            }

            @include laptop {
                font-size: 16px;
            }
        }
    }

    &__link-about {
        margin-left: auto;
    }

    &:hover,
    &:focus {
        // transform: scale(1.025);


        &::before {
            opacity: 1;
        }
    }

    &--md {
        padding: 35px 35px;

        .project {
            &__media {
                position: relative;
                top: 0;
                width: 40%;
                align-self: flex-end;
                margin: 0 30px -55px 0;
                @include transition;
            }

            &__content {
                padding-top: 20px;
            }

            &__link {
                margin: 0 0 20px;
            }

            &__title {
                margin: 0 0 15px;
            }

            &__about {
                font-size: 14px;
            }
        }

        &:hover,
        &:focus-within {
            .project__media {
                top: -20px;
            }
        }
    }

    &--sm {
        padding: 35px;
        justify-content: center;

        .project {
            &__icon {
                flex-shrink: 0;
                @include box(90%, 100px);
                margin: 0;
                overflow: hidden;
                border-radius: 5px;

                img {
                    @include box(100%);
                    object-fit: contain;
                }
            }
        }
    }
}