@import '../styles/variables';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;

  @media (max-width: $bp-sm) {
    flex-direction: column-reverse;
  }
}

.creditsText {
  margin: 0;
  font-size: var(--fz-3);

  @media (max-width: $bp-sm) {
    margin-top: 12px;
  }
}

.linksList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linksListItem {
  & + .linksListItem {
    margin-left: 12px;
  }
}

.linksListLink {
  display: block;
  line-height: 0;
  font-size: var(--fz-2);
}
