.title {
  font-size: var(--font-size-700);
  margin: 0;
}

.nav {
  margin: 0 0 16px;
}

.navList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navListItem {
  font-size: var(--font-size-500);
  font-weight: bold;

  & + .navListItem::before {
    content: '/';
    margin: 0 16px;
  }
}

.navListLink {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover {
    color: var(--colors-purple-100);
  }
}

.navListLinkActive {
  color: var(--colors-purple-100);
  border-color: var(--colors-purple-100);
}
