:root {
  --color-background: #1F1D36;
  --color-background-secondary: #3F3351;
  --color-secondary: #f9b6b6;
  --color-text: #ffffff;
  --fz-h1: 48px;
  --fz-h2: 32px;
  --fz-text-1: 20px;
  --fz-text-2: 16px;
  --fz-overline: 14px;
}

@media (max-width: 600px) {
  :root {
    --fz-h1: 42px;
    --fz-h2: 28px;
    --fz-text-1: 18px;
  }
}

::selection {
  background: #E9A6A6;
  color: var(--color-text);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  line-height: 1.65;
  background: var(--color-background);
}

a {
  color: var(--color-text)
}

.code-inline {
  padding: 4px 8px;
  background: #2d2d2d;
  border-radius: 2px;
}
